*.env

# yarn (we are not using zeroinstalls)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# i mean...
node_modules
__generated__
# we keep the folders in the dirs so the cache can be populated
npm-cache

# parcel
/.parcel-cache/
/dist/
/build/

# rescript
/node_modules/
lib/
.bsb.lock
.merlin
*.bs.js

# mac stuff
.DS_Store